.card{
    background-color: aliceblue;
    text-align: left;
    font-style: 'Arial', sans-serif;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header{
    color: rgb(77, 77, 77);
}

.card-body{
    text-align: left;
}

.card-body,.interestList{
    color: rgb(77, 77, 77);
    list-style: none;
}

